<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="edit.js"></script>

    <style>
        #saveButton {
            position: absolute;
            right: 200px;
            bottom: -30px;
            margin-bottom: 20px;
        }
        #formDiv {
            margin-right: 200px;
            margin-left: 200px;
        }
        #formTable {
            margin-top: 50px;
        }
        h1 {
            font-size: 2.5rem;
            margin-top:  3rem!important;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .imageDiv
         {
            width: 120px;
            min-height: 120px;
            max-height: auto;
            float: left;
            margin: 3px;
            padding: 3px;
        }

    </style>


    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0">
            <div sec:authentication="name">
            </div>
        </a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a th:href="@{/logout}" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<br/>
<h1 class="cover-heading" align="center"> Editeaza un adidas </h1>
<br/>
<form action="#" th:method="post" th:action="@{editShoe/updateShoe}" th:object="${shoe}" id="form">
    <div id="formDiv">
        <table class="table" id="formTable">
            <thead></thead>
            <tbody>

            <tr>
                <th scope="row">Image URL</th>
                <td><input type="text" class="form-control" th:field="*{image}" id="imageShoe"></td>
            </tr>

            <tr>
                <th scope="row">Image</th>
                <td>
                <div class="imageDiv">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail" th:src="*{image}">
                </div>
                </td>
            </tr>

            <tr>
                <th scope="row">ID</th>
                <td><input type="text"  class="form-control" th:field="*{idShoe}" th:readonly="true"/></td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td><input type="text" th:field="*{nameShoe}" class="form-control" id="nameShoe"/></td>
            </tr>
            <tr>
                <th scope="row">Alias</th>
                <td><input type="text" th:field="*{aliasShoe}" class="form-control"  id="aliasShoe"/></td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td><select th:field="*{typeShoe}" class="custom-select mr-sm-2" id="type">
                        <option th:each="type : ${typeList}"
                                th:value="${type.idType}"
                                th:text="${type.nameType}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td><select th:field="*{priceShoe}" class="custom-select mr-sm-2">
                    <option th:each="price : ${priceList}"
                            th:value="${price.idPrice}"
                            th:text="${price.amountPrice}">
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Brand(s)</th>
                <td><select th:field="*{brandShoe}" class="custom-select mr-sm-2">
                    <option th:each="brand : ${brandList}"
                            th:value="${brand.idBrand}"
                            th:text="${brand.nameBrand}">
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Available Size(s)</th>
                <td>
                    <div>
                        <th:block th:each="size : ${sizeList}" th:class="form-check-inline" th:style="margin-left eq 10px">
                            <input type="checkbox"
                                   th:value="${size.idSize}"
                                   th:field="*{sizeShoe}"
                                   th:text="${size.noSize}">
                        </th:block>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Sex(es)</th>
                <td>
                    <div id="sexDiv">
                    <th:block th:each="sex : ${sexList}" th:class="form-check-inline" th:style="margin-left eq 10px">
                        <input type="checkbox" id="sex"
                               th:value="${sex.idSex}"
                               th:field="*{sexShoe}"
                               th:text="${sex.nameSex}">
                    </th:block>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Color(s)</th>
                <td>
                    <div id="colorDiv">
                    <th:block th:each="color : ${colorList}" th:class="form-check-inline" th:style="margin-left eq 10px">
                        <input type="checkbox" id="color"
                               th:value="${color.idColor}"
                               th:text="${color.nameColor}"
                               th:field="*{colorShoe}">
                    </th:block>
                    </div>
                </td>
            </tr>
            </tbody>
            <input type="submit" class="btn btn-dark"  id="saveButton" th:value="Salveaza">
        </table>
    </div>

</form>
</body>
</html>