<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #formDiv {
            margin-right: 200px;
            margin-left: 200px;
        }

        h1 {
            font-size: 2.5rem;
            margin-top: 3rem;
        }

    </style>

</head>
<br/>
<h1 class="cover-heading" align="center"> Adidasi disponibili </h1>
<br/>
<br/>
<body>
<header>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0">
            <div sec:authentication="name">
            </div>
        </a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a th:href="@{/logout}" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<div id="formDiv">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Alias</th>
            <th>Type</th>
            <th>Price</th>
            <th>Brand(s)</th>
            <th>Size(s)</th>
            <th>Sex(es)</th>
            <th>Color(s)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="shoe : ${shoeList}">
            <th scope="row" th:text="${shoe.idShoe}">
            <td th:text="${shoe.nameShoe}">
            <td th:text="${shoe.aliasShoe}">
            <td th:text="${shoe.typeShoe.nameType}">
            <td th:text="${shoe.priceShoe.amountPrice}">
            <td th:text="${shoe.brandShoe.nameBrand}">
            <td>
                <p th:each="size : ${shoe.sizeShoe}">
                    <span th:text="${size.noSize}"></span>
                </p>
            </td>
            <td>
                <p th:each="sex : ${shoe.sexShoe}">
                    <span th:text="${sex.nameSex}"></span>
                </p>
            </td>
            <td>
                <p th:each="color : ${shoe.colorShoe}">
                    <span th:text="${color.nameColor}"></span>
                </p>
            </td>

            <form th:action="@{/shoes/editShoe}" th:method="get">
            <td>
                <button class="btn btn-dark" type="submit" name="idShoe" th:value="${shoe.idShoe}" id="buttonDetails">Editeaza</button>
            </td>
            </form>
            <form th:action="@{/shoes/deleteShoe}" th:method="get">
                <td>
                    <button class="btn btn-dark" type="submit" name="idShoe" th:value="${shoe.idShoe}" id="buttonDelete">Sterge</button>
                </td>
            </form>
        </tr>

        </tbody>
    </table>

    <form th:method="get" th:action="@{/shoes/addShoe}" style="text-align: right;margin-right: 80px;margin-top: 40px">
        <button class="btn btn-dark" type="submit" >Adauga</button>
    </form>

    <ul class="nav nav-pills">
        <li class="nav-item" th:each="i : ${#numbers.sequence(0, shoeList.totalPages - 1)}">
            <a th:href="@{/shoes(pageNumber=${i})}" th:text="${i}" class="nav-link" th:classappend="${currentPage} == ${i}?'active':''"></a>
        </li>
    </ul>
</div>
</body>
</html>